<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="site-head">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-3.3.7.min.css" th:href="@{/css/bootstrap-3.3.7.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css" th:href="@{/css/styles.css}"/>
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js" th:href="@{/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" src="/js/scripts.js" th:href="@{/js/scripts.js}"></script>
    <!--<script type="text/javascript" src="/js/jquery.validate-1.17.0.min.js" th:href="@{/js/jquery.validate-1.17.0.min.js}"></script>-->
</head>
<body>
<div class="center-block" th:align="center">
    <header th:fragment="site-header">
        <div class="toppro">
            <img src="/img/top_logo.png" align="left"/>

            <div sec:authorize="isAuthenticated()" align="right">
                <a th:href="${'/profile/'+#authentication.getName()}" th:text="${#authentication.getName()}" style="margin: 5px;"></a>
                |
                <a href="/logout" style="margin: 5px;">Chiqish</a>
            </div>
            <div sec:authorize="!isAuthenticated()" align="right">
                <a href="/login" style="margin: 5px;">Kirish</a>
                |
                <a href="/registration" style="margin: 5px;">Registratsiya</a>
            </div>
        </div>
        <nav class="navbar navbar-default" style="margin-top: 10px;">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li id="posts_link"><a href="/">Bosh sahifa</a></li>
                    <li id="problems_link"><a href="/problems">Masalalar</a></li>
                    <li id="results_link"><a href="/results">Status</a></li>
                    <li id="ratings_link"><a href="/ratings">Reyting</a></li>
                    <li><a href="#">Contest</a></li>
                </ul>
            </div>
        </nav>

    </header>
    <footer th:fragment="site-footer" style="width: 100%">
        <hr/>
        <div class="text-center">
            <table>
                <tr><td>
                    &copy; <a href="http://algo.ubtuit.uz">algo.ubtuit.uz</a>
                </td></tr>
                <tr><td>
                    Dasturlash bo'yicha masalalar va musobaqalar sayti
                </td></tr>
                <tr><td>
                    Serverdagi vaqt: <span th:text="${#dates.format(#dates.createNow(), 'dd.MM.YYYY HH:mm:ss')}"></span>
                </td></tr>
            </table>
        </div>
    </footer>
</div>
</body>
</html>