<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:spring="http://www.w3.org/1999/html">
<head th:include="layout::site-head">
    <title>Registratsiya</title>

</head>
<body>
<div>
    <header th:replace="layout::site-header"/>
    <div class="panel panel-default" style="width: 40%; padding: 20px;">
        <form action="#" th:action="@{/registration}" method="post" id="userForm" name="userForm" th:object="${user}">
            <fieldset>
                <legend>Registratsiya</legend>
                <p>
                    <label for="username">Foydalanuvchi nomi(login)</label><br/>
                    <input type="text" name="username" id="username" th:value="*{username}"/><br/>
                    <label class="validation-error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</label>
                </p>
                <p>
                    <label for="email">Email</label><br/>
                    <input name="email" id="email" th:value="*{email}"/><br/>
                    <label class="validation-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</label>
                </p>
                <p>
                    <label for="password">Parol</label><br/>
                    <input type="password" name="password" id="password" th:value="*{password}"/><br/>
                    <label class="validation-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</label>
                </p>
                <p>
                    <label for="passwordConfirm">Parolni tasdiqlash</label><br/>
                    <input type="password" name="passwordConfirm" id="passwordConfirm" th:value="*{passwordConfirm}"/><br/>
                    <label class="validation-error" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></label>
                </p>
                <p>
                    <button type="submit" class="btn btn-primary">Registratsiya</button>
                </p>
                <p>
                    <a href="/login">Kirish</a>
                </p>
            </fieldset>
        </form>
    </div>
    <footer th:replace="layout::site-footer"/>
</div>
</body>
</html>